h1{
    font-size : 20
}

h2{
    font-size : 8
}

body{
    background-color: rgb(255, 255, 255);
}

button{
    background-color: rgb(180, 180, 180);
    text-align: center;
}

code{
    color: rgb(0, 0, 110);
}

pre{
    color: rgb(0, 0, 110);
}